<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alice.csa_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeScreen"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AnnouncementActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".HousesActivity" />
        <activity android:name=".AnnouncementEntry" />
        <activity android:name=".AnnouncementDetail" />
        <activity android:name=".AnnouncementEdit" />
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".MainAdmin" />
        <activity android:name=".DifferentHouses" />
        <activity android:name=".BWChallenge" />
        <activity android:name=".Scores" />
        <activity android:name=".HouseChrysanthemum" />
        <activity android:name=".HouseCitron" />
        <activity android:name=".HouseNarcissus" />
        <activity android:name=".HouseOrchid" />
        <activity android:name=".HousePeony" />
    </application>

</manifest>